<nav id="bk-docs-nav" class="collapse bk-links">
    {{ $currentPage := . }}
    {{ $menuName := ( $currentPage.Parent.Param "menuname" ) }}
    {{ $menu := index ( index $.Site.Menus  $menuName ) }}
    
    <ul>
    {{ range $menu }}
        <li>
            <a href="{{ .URL }}" {{if ($currentPage.IsMenuCurrent $menuName .) }}class="active"{{end}}>
                {{ .Name }}
            </a>

            {{ if .HasChildren }}
            <ul>
                {{ range .Children }}
                <li>
                    <a href="{{ .URL }}" {{if ($currentPage.IsMenuCurrent $menuName .) }}class="active"{{end}}>
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{end}}
            </li>
    {{end}}
    </ul>
</nav>
