<div class="subscribe-line subscribe-line-image" style="background-image: url('/images/subscribe-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="text-center">
                    <h4 class="title">Subscribe to ASP.NET Weekly</h4>
                    <p class="description">
                        I publish a weekly newsletter with all the best ASP.NET related news and blog posts of the previous week.
                    </p>
                    <p class="description">
                        Sign up with your email address below to get it delivered to your Inbox every Friday!
                    </p>
                </div>

                <div class="card card-raised card-form-horizontal">
                    <div class="card-body">
                        <form action="https://www.getrevue.co/profile/aspnetweekly/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Your email address..."  name="member[email]" id="member_email" type="email">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input value="Subscribe" name="member[subscribe]" id="member_submit" type="submit" class="btn btn-primary btn-round btn-block">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-center">
                    <p class="description">
                        Not sure whether to sign up? Why don't you check out some of the <a href="https://www.getrevue.co/profile/aspnetweekly" target="_blank" class="subscribe-past-issues-link">past issues</a>?
                    </p>
                </div>
    
            </div>
        </div>
    </div>
</div>