<section class="border-bottom py-3 d-none d-md-block">
    <div class="container text-center">
        <h6><span class="badge badge-primary badge-pill mr-2">Support My Work</span></h6>
        <p class="mb-0">
            My freelance work is what keeps this website alive and generating new content. <strong>If you can use someone with my skills</strong>, please consider <a href="/hire">hiring me</a> to help on your project.
            Alternatively, if you got value from this website and just want to return the favour, you can <a href="https://www.buymeacoffee.com/jerriepelser" target="_blank">buy me a coffee</a>!
        </p>
    </div>
</section>