 {{ define "main" }}

 <div class="section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>About Me</h1>
                <div class="float-none float-md-left text-center">
                    <img src="/assets/images/jerrie_thumb.jpg" alt="Raised Image" class="mr-3 mb-3">
                </div>
                <p>
                    My name is Jerrie Pelser. I am a <strong>South African</strong> software developer with 20+ years professional development experience, currently living in <strong>Bangkok, Thailand</strong>.
                    This is my personal blog where I write mostly about technical software development issues - though I may throw in some random thoughts from time to time.
                </p>
                <p>
                    I have been using <strong>C#</strong> and <strong>.NET</strong> since the first beta versions came out in 2000. 
                    Before that I also worked with <strong>Delphi</strong>, <strong>Visual Basic</strong> and <strong>Clipper</strong>.
                </p>
                <p>
                    I am working as a freelance software developer with a small number of select clients, leaving me enough time to work on my own projects, blog and learning new technologies.
                </p>
                <p>
                    I also curate <a href="https://www.getrevue.co/profile/aspnetweekly" target="_blank">ASP.NET Weekly</a>, which is a weekly digest of all the best ASP.NET related news and blog posts.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2>Get in contact</h2>
                <p>
                    If you want to get in contact with me - whether to enquire about hiring me, pointing out a mistake on my blog or simply to chat - you can reach me at <strong>jerrie@jerriepelser.com</strong>.
                    Alternatively, you can <a href="https://www.linkedin.com/in/jerriepelser">connect on LinkedIn</a>.
                </p>
        </div>
    </div>
</div>

{{ end }}