 {{ define "main" }}

 <div class="section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>Hire Me</h1>
                <h3>My Background</h3>
                <p>
                    I have been using <strong>C#</strong> and <strong>.NET</strong> since the first beta versions came out in 2000, 
                    and my current focus is mostly around <strong>ASP.NET Core</strong>.
                </p>
                <p>I am responsible for maintaining all the .NET related SDKs and sample applications for <a href="https://auth0.com" ref="_blank">Auth0</a>,
                so I am very familiar with implementing <strong>authentication and authorization</strong> in ASP.NET and other .NET applications.</p>
                <p>
                    I blog on this website about .NET related topics and also curate <a href="https://www.getrevue.co/profile/aspnetweekly" target="_blank">ASP.NET Weekly</a>, which is a weekly digest of all the best ASP.NET related news and blog posts.
                </p>
                <h3>My Skills</h3>
                <p>The following are some of my primary technologies I am familiar with:</p>
                <ul>
                    <li>ASP.NET Core (MVC, Razor Pages and APIs)</li>
                    <li>Auth0</li>
                    <li>OpenID Connect</li>
                    <li>JSON Web Tokens</li>
                    <li>HTML, JavaScript and CSS</li>
                    <li>Serverless (AWS Lambda and Azure Functions)</li>
                </ul>
                <h3>Rate</h3>
                <p>My hourly rate for work is <strong>US$ 70 - 100 per hour</strong> depending on the type and duration of the project.</p>
                <h3>Work I am interested in</h3>
                <p>I am looking for short term projects (up to about 6 months in length) where I can work remotely. 
                   I am currently only available on a part-time basis, but for the right project I may consider something more permanent.</p>
                <p>
                    I would be an ideal fit if you are looking for a part-time developer to carry forward a smaller part of a larger project, 
                    or a smaller isolated project like a Proof of Concept.
                </p>
                <h2>Get in contact</h2>
                <p>
                    If you want to get in contact to enquire about hiring me, please send an email to <strong>jerrie@jerriepelser.com</strong>.
                </p>
            </div>
        </div>
    </div>
</div>

{{ end }}