{{ define "main" }}

<div class="bd-masthead" >
    <div class="container">
        <div class="row align-items-center">
        <div class="col-6 mx-auto col-md-4">
            <img class="img-fluid mb-3 mb-md-0" src="/images/airport-explorer/book-mockup.png" alt="">
        </div>
        <div class="col-md-8 text-center text-md-left pr-md-5">
            <h1 class="mb-3 bd-text-purple-bright">Build an Airport Explorer with ASP.NET Core</h1>
            <p class="lead">
                Learn how to build an interactive mapping application with ASP.NET Core, JavaScript and Mapbox
            </p>
            <div class="d-flex flex-column flex-md-row lead mb-3">
            <a href="/books/airport-explorer/basic/intro/" class="btn btn-lg btn-block btn-outline-primary mb-3 mb-md-0 mr-md-3">Start reading</a>
            </div>
        </div>
        </div>              
    </div>
</div>

<div class="container">
        
    <div class="row">
        <div class="col-md-12">
            <h2>Overview</h2>
            <p>Many books and courses are available to teach you <a href="https://www.asp.net/">ASP.NET Core</a>. 
                Most of them show you how to build a CRUD application which displays items in a grid on the screen and allow you to add, edit or delete items.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
            <img  class="img-fluid" src="/images/airport-explorer/search.png">
        </div>
        <div class="col-lg-7 order-lg-1">
            <p>But I wanted to do something a little different. <strong>And more fun!</strong></p>
            <p>And I also wanted to teach developers how to do something other than insert data in a database. Yes,
                <strong>that is an important skill</strong>, but it is only part of the picture.</p>
            <p>So I set out to write a simple app which will teach you some other skills, such as talking to <strong>external APIs</strong>, working with <strong>CSV files</strong>, displaying data on a <strong>map</strong> and <strong>much more</strong>!</p>
            <p>This book will take you through the process of building a simple application which allows users to explore all the airports of the world on a map.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-5 mb-5 mb-lg-0">
            <img  class="img-fluid" src="/images/airport-explorer/seattle-tacoma.png">
        </div>
        <div class="col-lg-7">
            <h2>What you'll learn</h2>
            <p>Here's what you will learn in this book:</p>
            <ul>
                <li><p>Building a very simple, one-page ASP.NET Razor Pages application.</p></li>
                <li><p>Using AJAX requests in an ASP.NET Razor Pages application.</p></li>
                <li><p>Using <a href="https://www.mapbox.com/" target="_blank">Mapbox</a> to display a map and add markers to the map</p></li>
                <li><p>Handling a large number of markers on a map using clusters.</p></li>
                <li><p>Reading data from a CSV file.</p></li>
                <li><p>Using GeoJSON to represent geographical information.</p></li>
                <li><p>Using 3rd party APIs such as Google Places to augment airport information.</p></li>
                <li><p>Using <a href="https://community.algolia.com/places/" target="_blank">Algolia Places</a> to add a location search autocomplete</p></li>
                <li><p>Determining the current location of a user from their IP address.</p></li>
                <li><p>Using the <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS framework</a> to style HTML.</p></li>
            </ul>
        </div>
    </div>
</div>

{{ end }}